@page
@model NotesProject.Pages.Categories.IndexModel
@{
	ViewData["Title"] = "Kategorijos";
}
<section>
	<h2 class="h2-title">Greitoji užrašų paieška</h2>
	<div class="search-section">
		<form method="post">
			<input asp-for="@Model.Search" placeholder="Paieška pagal užrašo pavadinimą" class="search" />
			<input type="submit" value="Ieškoti" asp-page="../Notes/Search" asp-page-handler="Search" />
		</form>
	</div>

</section>
<section>
	<h2>Tavo užrašų kategorijos</h2>
	<form method="post">
		<div class="category-container">
			@foreach (var category in Model.Categories)
			{
				<div class="category">
					<a asp-page="../Notes/Index" asp-route-id="@category.Id">
						<div class="category-item">
							<div>@category.CategoryName</div>
							<div class="note-small">
								@foreach (var note in category.Notes)
								{
									<div class="note-small-item">@note.Title</div>
								}
							</div>
						</div>
					</a>
					<div class="edit">
						<a asp-page="Edit" asp-route-id="@category.Id" asp-route-categoryName="@category.CategoryName"><i class="fa-solid fa-pen-to-square pen"></i></a>
						<button asp-page-handler="Delete" asp-route-id="@category.Id" class="button"><i class="fa-solid fa-xmark fa-lg"></i></button>
					</div>
				</div>
			}
			<a asp-page="Create"><div class="category-item-new">Pridėti naują kategoriją</div></a>
		</div>
	</form>
</section>